<%- include("partials/header.ejs") %>

<h1>About Us</h1>
<img class="profile" src="images/message-bottle.jpg" alt="cat profile">
<p>
  Welcome to Notes from the Deep, a space where thoughts, ideas, and stories float freely—just like messages cast adrift in the vast ocean. 
  Here, anyone can share a little piece of themselves, whether it's a reflection, a moment of creativity, or just a passing thought. 
  The beauty of this space is in its openness; much like a bottle carried by the tide, the content here comes from all walks of life and travels in its own direction. 
  Dive in, explore the waves of inspiration, and add your own note to the endless sea of stories.</p>

  <p>About me the developer: My name is Michael Parkman and I have developed this basic blog website as a capstone for the Appbrewery FullStack bootcamp. We were taskerd with creating
    a simple blog website where users can view, delete, and update posts. I enjoed the wave stylings at the bottom from a former post and decided to create this blog called 
    "Notes from the Deep". I added some pre-written posts to generate on your first vist and added a toggle option to edit the posts text area. 
    I intend to further develope this idea down the road with maybe a random user entered message.
  </p>

  <%- include("partials/footer.ejs") %>